@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

:root {
    margin: 0;
    padding: 0;
    background: skyblue;
}

.App {
    min-height: 100vh;
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center;
}